[Unit]
Description=Node.js App
After=network.target

[Service]
Type=simple
User=laborant
WorkingDirectory=/home/laborant/app
ExecStart=/usr/bin/node index.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
